<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>21BHI10039</title>
</head>
<body>
  <h1>Test-Check</h1>
  <form id="json-form" method="POST" action="/bfhl">
    <div class="mb-3">
      <label for="jsonData" class="form-label">Enter Data(JSON FORMAT): </label>
      <textarea class="form-control" name="jsonData" id="jsonData" rows="3" required></textarea>
    </div>
    <div class="mb-3">
      <label for="userId" class="form-label">User ID</label>
      <input type="text" class="form-control" name="userId" id="userId" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div class="mb-3">
      <label for="rollNumber" class="form-label">Roll Number</label>
      <input type="text" class="form-control" name="rollNumber" id="rollNumber" required>
    </div>
    <button type="submit" class="btn btn-primary">Process</button>
  </form>

  <% if (response) { %>
    <h2>Response</h2>
    <pre><%- JSON.stringify(response, null, 2) %></pre>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>
